/*
/*/

!/.gitignore

!/.cache/wal/
!/.config/alacritty/
!/.config/hypr/
!/.config/rofi/
!/.config/waybar/
!/.config/zsh/

!/.oh-my-zsh

!/Pictures/screen0.png
!/Pictures/screen1.png
!/.gitmodules
!/.zshenv
!/README.md
